@charset "UTF-8";
body {
    font-family: Arial;
    background: #f4f6f8;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 95%;
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}
textarea {
    width: 90%;
    height: 60px;
    padding: 8px;
}

select {
    width: 95%;
    padding: 8px;
}
